@{
    ViewBag.PageTitle = "Order Managment";
    ViewData["CardTitle"] = "View Orders";

}



<table class="table" id="mytable" width="100%">
    <thead class="text-bold">
        
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>PhoneNumber</td>
            <td>Email</td>
            <td>OrderStatus</td>
            <td>TotalPrice</td>
            <td></td>
        </tr>
    </thead>

</table>
@section Scripts {
    <script src="~/js/order.js"></script>
}
